[user]
	name = Stefan Wrobel
	email = swrobel@users.noreply.github.com
[push]
	default = current
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = Kaleidoscope
[color]
	ui = true
[core]
	excludesfile = /Users/swrobel/.gitignore_global
	editor = nano
	pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[diff-so-fancy]
	first-run = false
[commit]
	template = /Users/swrobel/.stCommitMsg
